:root {
    --class-list-bg-light: #fefeff;
    --class-list-bg-dark: #1b1b1d;

    --class-item-bg-light: #fff;
    --class-item-bg-dark: #282a36;
    
    --class-item-text-light: #181818;
    --class-item-text-dark: #ffffff;
}

.classList {
    padding: 10px;
    background-color: var(--class-list-bg-light);
    max-height: 300px;
    overflow-y: auto;
}

.classItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: var(--class-item-bg-light);
    color: var(--class-item-text-light);
}

.className {
    font-weight: bold;
}

.propertyCode {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 4px;
    margin: 2px 0;
}

[data-theme='dark'] .classList {
    background-color: var(--class-list-bg-dark);
}

[data-theme='dark'] .classItem {
    background-color: var(--class-item-bg-dark);
    color: var(--class-item-text-dark);
    border: 1px solid #606770;
}

[data-theme='dark'] .propertyCode {
    background-color: #20222b;
    color: var(--class-item-text-dark);
}
