.classList {
    padding: 10px;
    background-color: transparent;
    max-height: 300px;
    overflow-y: auto;
}

.classItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #fefeff;
    color: #181818;
}

.className {
    font-weight: bold;
}

.propertyCode {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 4px;
    margin: 2px 0;
}

[data-theme='dark'] .classList {
    background-color: var(--yma-bg-darker);
}

[data-theme='dark'] .classItem {
    background-color: var(--yma-bg-dark);
    color: var(--yma-bg-lighter);
    border: 1px solid #2d2f33;
}

[data-theme='dark'] .propertyCode {
    background-color: var(--yma-bg-darker);
    color: var(--yma-bg-lighter);
}