.cardElement {
    background-color: var(--yma-bg-lighter);
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    padding: 18px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    /* bg-white rad-3 b-1 bc-[#e5e7eb] p-2 anim tr-* */
}

.cardElement a:hover {
    text-decoration: none;
    /* td-none */
}

.cardElement:hover {
    border-color: #ced0d4;
    /* bc-[#ced0d4] */
}

[data-theme='dark'] .cardElement {
    background-color: var(--yma-bg-dark);
    border: 1px solid #2d2f33;
    /* bg-[#1d2026] b-1 bc-[#2d2f33] */
}

[data-theme='dark'] .cardElement:hover {
    border-color: #424447;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    /* bc-[#424447] bs-sm */
}

.cardTitle {
    font-weight: 400;
    /* fw-400 */
}

.cardIcon {
    height: 36px;
    width: 36px;
    /* dim-9 */
}

[data-theme='dark'] .cardDescription {
    color: #f6f7f9;
    /* t-[#f6f7f9] */
}

.cardDescription {
    color: #404756;
    /* t-[#404756] */
}

.cardGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* d-g g-20 gtc-3 */
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* md:gtc-2 */
}

@media (max-width: 480px) {
    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    /* sm:gtc-1 */
}