.cardElement {
    padding: 18px;
    text-align: center;
    border-radius: 12px;
    box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #fefeff;
    border: 1px solid #cccccc;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.cardElement a:hover {
    text-decoration: none;
}

.cardElement:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    border-color: #a3a3a3;
}

[data-theme='dark'] .cardElement {
    background-color: var(--yma-bg-dark);
    border: 1px solid #2d2f33;
}

[data-theme='dark'] .cardElement:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
    border-color: #424447;
}

.cardIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    width: 64px;
}

[data-theme='dark'] .cardTitle {
    color: #f6f7f9;
}

.cardTitle {
    color: #404756;
}

[data-theme='dark'] .cardDescription {
    color: #f6f7f9;
}

.cardDescription {
    color: #404756;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}