.cardElement {
    background-color: var(--yma-bg-lighter);
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    padding: 18px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.cardElement a:hover {
    text-decoration: none;
}

.cardElement:hover {
    border-color: #ced0d4;
}

[data-theme='dark'] .cardElement {
    background-color: var(--yma-bg-dark);
    border: 1px solid #2d2f33;
}

[data-theme='dark'] .cardElement:hover {
    border-color: #424447;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cardTitle {
    font-weight: 600;
}

.cardImage {
    background-color: #fbe2f1;

}

.cardIcon {
    height: 44px;
    width: 44px;
}

[data-theme='dark'] .cardDescription {
    color: #f6f7f9;
}

.cardDescription {
    color: #404756;
}

.cardGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}