.compElement {
    background-color: #fefeff;
    border-radius: 12px;
    border: 1px solid #d3d5de;
    margin-bottom: 1.2rem;
    /* rad-2 bg-[#fefeff] b-1 bc-[#cccccc] */
}

.compFooter {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    padding-bottom: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.875rem;
    /* rad-bt-3 rad-br-3 py-3 px-4 */
}

.compBadge {
    background-color: #dc0988;
    border-radius: 9999px;
    color: white;
    font-size: .6125rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    text-transform: uppercase;
    vertical-align: middle;
    
}

.compTitle {
    color: #465161;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
}

[data-theme='dark'] .compTitle {
    color: #e3e3e3;
}

.compDescription {
    color: #939eae !important;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 0.125rem;
}

.compElement a:hover {
    text-decoration: none;
}

.compElement:hover {
    box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] .compElement {
    background-color: var(--yma-bg-dark);
    border: 2px solid #2d2f33;
}

[data-theme='dark'] .compElement:hover {
    box-shadow: 1px 3px 5px -2px rgba(0, 0, 0, 0.1);
    border: 2px solid #dc0988;
}

.compImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.compGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .compGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .compGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}