:root {
  --bg-light: #f6f8fa;
  --bg-dark: #242526;
  --border-color-light: #ccc;
  --text-light: #f6f8fa;
  --text-dark: #282a36;
  --border-color-dark: #606770;
  --primary-color: var(--ifm-color-primary);
}

pre {
  margin-top: 2rem;
  border: 1px solid var(--border-color-light);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20rem;
  border: 1px solid var(--border-color-light);
  box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.1);

  .heroTitle {
    margin-bottom: 0.625rem;
    color: var(--text-dark);
  }

  .heroDesc {
    margin-bottom: 0.625rem;
    color: var(--text-dark);
  }

  .featureTitle {
    margin-bottom: 0.625rem;
    color: var(--text-dark);
  }

  .heroTitle {
    font-size: 3rem;
    font-weight: 700;
  }

  .heroDesc {
    font-size: 1.5rem;
  }
}

.featureSection {
  background-color: var(--bg-light);
  text-align: center;
  height: auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .featureTitle {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark);
  }

  @media (min-width: 768px) {
    padding: 4rem 18rem;
  }
}

.btnPrimary {
  display: flex;
  padding: 0.75rem 1.5rem;
  color: var(--text-light);
  background-color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btnPrimary:hover {
  transform: scale(0.98);
  color: var(--text-light);
  text-decoration: none;
}

[data-theme='dark'] {

  .heroTitle {
    color: var(--text-light);
  }

  .heroDesc {
    color: var(--text-light);
  }

  .featureTitle {
    color: var(--text-light);
  }

  pre,
  .heroSection {
    border-color: var(--border-color-dark);
  }

  pre {
    background-color: var(--text-dark);
  }

  .featureSection {
    background-color: var(--bg-dark);
  }

  .sectionTitle {
    color: var(--text-dark);
  }
}