.yma__header {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.1);
  padding: 4rem 28rem;
}

.yma__header img {
  height: 128px;
  width: 128px;
}

.yma__header .yma__heading {
  margin-bottom: 0.625rem;
  font-size: 3rem;
  font-weight: 700;
  color: #2d323c;
}

.yma__header .yma__description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #2d323c;
}

.yma__primary__button,
.yma__secondary__button {
  display: inline-block;
  line-height: 1.5;
  padding: 0.8rem 2rem;
  margin: 1rem;
  font-weight: bold;
  border-radius: 12px;
  color: #f6f7f9;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.yma__primary__button {
  background-color: #dd0987;
  line-height: 1.5;
  padding: 0.8rem 2rem;
  margin: 1rem;
  font-weight: bold;
  border-radius: 12px;
  color: #f6f7f9;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.yma__primary__button:hover {
  color: #f6f7f9;
  text-decoration: none;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1.5px 0px inset;
}

.yma__secondary__button {
  background-color: #e6e6e6;
  line-height: 1.5;
  padding: 0.8rem 2rem;
  margin: 1rem;
  font-weight: bold;
  border-radius: 12px;
  color: #171a20;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.yma__secondary__button:hover {
  color: #171a20;
  text-decoration: none;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1.5px 0px inset;
}

.yma__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  padding: 4rem 18rem;
}

.yma__section .yma__heading {
  margin-bottom: 0.625rem;
  font-size: 3rem;
  font-weight: 700;
  color: #2d323c;
}

.yma__section .yma__description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #404756;
}

@media (max-width: 768px) {
  .yma__header {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  .yma__section {
    padding: 4rem 2rem;
  }
}

[data-theme='dark'] .yma__header {
  background-color: #171a20;
  border-color: #171a20;
}

[data-theme='dark'] .yma__heading {
  color: #f6f7f9;
}

[data-theme='dark'] .yma__description {
  color: #f6f7f9;
}

[data-theme='dark'] .yma__section {
  background-color: #171a20;
}