.yummaHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.1);
  padding: 4rem 28rem;
}

.yummaHero img {
  height: 128px;
  width: 128px;
}

.yummaHero .yummaTitle {
  margin-bottom: 0.625rem;
  font-size: 3rem;
  font-weight: 700;
  color: #2d323c;
}

.yummaHero .yummaDescription {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #2d323c;
}

.yummaButton {
  background-color: #dd0987;
  line-height: 1.5;
  padding: 0.8rem 2rem;
  font-weight: bold;
  border-radius: 12px;
  color: #f6f7f9;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.yummaButton:hover {
  color: #f6f7f9;
  text-decoration: none;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1.5px 0px inset;
}

.yummaFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f6f8fa;
  padding: 4rem 18rem;
}

.yummaFeatures .yummaTitle {
  margin-bottom: 0.625rem;
  font-size: 3rem;
  font-weight: 700;
  color: #2d323c;
}

.yummaFeatures .yummaDescription {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #404756;
}

@media (max-width: 768px) {
  .yummaHero {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  .yummaFeatures {
    padding: 4rem 2rem;
  }
}

[data-theme='dark'] .yummaHero {
  background-color: #20232a;
  border-color: #2d2f33;
}

[data-theme='dark'] .yummaTitle {
  color: #f6f7f9;
}

[data-theme='dark'] .yummaDescription {
  color: #f6f7f9;
}

[data-theme='dark'] .yummaFeatures {
  background-color: #171a20;
}