.yma__header {
  justify-content: center;
  margin: 6rem auto;
  max-width: 48rem;
  position: relative;
}

.yma__heading {
  color: #2d323c;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.yma__paragraph {
  color: #404756;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

[data-theme='dark'] .yma__heading,
[data-theme='dark'] .yma__paragraph {
  color: #f6f7f9;
}

.yma__action {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .yma__action {
    margin-top: 2.5rem;
  }
}

.yma__btn {
  align-items: center;
  border-radius: 12px;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1.5px 0px inset;
  color: #f6f7f9;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 0.8rem 2rem;
}

.yma__btn {
  background-color: var(--ifm-color-primary);
}

.yma__btn:hover {
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1.5px 0px inset;
  color: #f6f7f9;
  text-decoration: none;
}

[data-theme='dark'] {
  background-color: var(--yma-bg-darker);
  border-color: var(--yma-bg-darker);
}