.yummaHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 3px 5px -3px rgba(0, 0, 0, 0.1);

  .yummaTitle {
    margin-bottom: 0.625rem;
    font-size: 3rem;
    font-weight: 700;
  }

  .yummaDescription {
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
  }
}

.yummaFeatures {
  background-color: #f6f8fa;
  text-align: center;
  padding: 4rem 18rem 4rem 18rem;

  @media (max-width: 768px) {
    padding: 4rem 2rem 4rem 2rem;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme='dark'] {
  .yummaHero {
    border-color: #606770;
  }
}

[data-theme='dark'] {
  .yummaFeatures {
    background-color: #242526;
  }
}