---
interface Props {
	description: string;
}

const { description } = Astro.props;
---

<article class="ai-c fd-c g-2 ta-c sl-flex">
    <img class="w-60" src="https://www.yummacss.com/assets/images/yummacss.webp" alt="Yumma CSS" />
	<small>
		Built by Renildo Pereira
	</small>
    <p>
		{description}
	</p>
    
	<slot />
</article>

<style>
	article {
		margin-inline: auto;
		max-width: 40rem;
		padding-block: 5rem;
	}
    
	article > :global(*) {
		margin-top: 0 !important;
		max-width: 50ch;
	}

	small {
		color: var(--sl-color-gray-3);
	}
</style>