.classList {
    background-color: transparent;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 1.2rem;
    /* bg-transparent max-h-75 ovf-y-auto p-1 */
}

.classItem {
    align-items: center;
    background-color: #f9fafb;
    border-radius: 4px;
    border: 1px solid #e5e7eb;
    color: #181818;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    /* ai-c bg-[#f9fafb] rad-1 b-1 t-[#e5e7eb] d-f jc-sb mb-1 p-1  */
}

.className {
    font-weight: bold;
    /* fw-700 */
}

.propertyCode {
    border-radius: 4px;
    display: block;
    font-family: monospace;
    margin: 2px 0;
    padding: 5px;
    white-space: pre-wrap;
    /* rad-1 d-b ff-m my-1 p-1 ws-pw */
}

.colorPreview {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 10px;
    /* dim-10 rad-1 mr-1 */
}

[data-theme='dark'] .classList {
    background-color: var(--yma-bg-darker);
    /* d:bg-[#1a1c22] */
}

[data-theme='dark'] .classItem {
    background-color: var(--yma-bg-dark);
    border: 1px solid #2d2f33;
    color: var(--yma-bg-lighter);
    /* bg-[#1d2026] b-1 bc-[#2d2f33] t-white */
}

[data-theme='dark'] .propertyCode {
    background-color: var(--yma-bg-darker);
    color: var(--yma-bg-lighter);
    /* bg-[#1a1c22] t-white */
}