.colorPalette {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 1.2rem;
    /* ai-c d-f fd-c g-20 mt-2 w-full */
}

.colorLineTitle {
    margin-bottom: 10px;
    /* mb-1 */
}

.colorLine {
    align-items: center;
    display: flex;
    gap: 10px;
    /* ai-c d-f g-10 */
}

.colorSwatchContainer {
    align-items: center;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 12px;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 80px;
    /* ai-c rad-1 t-white d-f fs-sm h-5 jc-c p-r w-10 */
}

.colorSwatchContainer::after {
    background-color: #e3e3e3;
    border-radius: 3px;
    color: #1a1c22;
    content: attr(data-tooltip);
    font-size: 12px;
    left: 50%;
    opacity: 0;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    top: -40px;
    transform: translateX(-50%);
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    /* bg-[#e3e3e3] rad-1 t-[#1a1c22] fs-sm dir-half o-0 py-1 px-1 pe-none p-a n:dir-t-40 ... ws-n */
}

.colorSwatchContainer:hover::after {
    opacity: 1;
}

@media (max-width: 768px) {
    .colorLine {
        align-items: flex-start;
        flex-direction: column;
        /* md:ai-fs fd-c */
    }

    .colorSwatchContainer {
        margin-bottom: 10px;
        width: 100%;
        /* mb-1 w-full */
    }
}