@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root {
  --ifm-color-primary: #dd0987;
  --ifm-color-primary-dark: #bc0672;
  --ifm-color-primary-darker: #a00560;
  --ifm-color-primary-darkest: #84044b;
  --ifm-color-primary-light: #f016a3;
  --ifm-color-primary-lighter: #f42db4;
  --ifm-color-primary-lightest: #f64fcb;
  --ifm-footer-background-color: white;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #dd0987;
  --ifm-color-primary-dark: #bc0672;
  --ifm-color-primary-darker: #a00560;
  --ifm-color-primary-darkest: #84044b;
  --ifm-color-primary-light: #f016a3;
  --ifm-color-primary-lighter: #f42db4;
  --ifm-color-primary-lightest: #f64fcb;
  --ifm-footer-background-color: #1b1b1d;
  --ifm-navbar-background-color: #1b1b1d;
}

body {
  font-family: system-ui, sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

pre {
  margin-top: 2rem;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

[data-theme='dark'] pre {
  border-color: #2d2f33;
  background-color: #20232a;
}

[data-theme='dark'] .delimiter {
  border-color: 1px solid #444950;
}