:root {
  --ifm-color-primary: rgb(220, 9, 136);
  --ifm-color-primary-dark: rgb(188, 6, 115);
  --ifm-color-primary-darker: rgb(158, 5, 94);
  --ifm-color-primary-darkest: rgb(132, 4, 75);
  --ifm-color-primary-light: rgb(240, 20, 163);
  --ifm-color-primary-lighter: rgb(244, 47, 182);
  --ifm-color-primary-lightest: rgb(246, 81, 205);
  --ifm-footer-background-color: rgb(246, 248, 250);
  --ifm-code-font-size: 95%;
  --ifm-menu-color-background-active: rgba(246, 81, 205, 0.077);
}

[data-theme='dark'] {
  --ifm-color-primary: rgb(220, 9, 136);
  --ifm-color-primary-dark: rgb(188, 6, 114);
  --ifm-color-primary-darker: rgb(160, 5, 96);
  --ifm-color-primary-darkest: rgb(132, 4, 75);
  --ifm-color-primary-light: rgb(240, 22, 163);
  --ifm-color-primary-lighter: rgb(244, 45, 180);
  --ifm-color-primary-lightest: rgb(246, 79, 203);
  --ifm-background-color: rgb(23, 26, 32) !important;
  --ifm-navbar-background-color: rgb(23, 26, 32);
  --ifm-footer-background-color: rgb(23, 26, 32);

  .navbar {
    border-bottom: none;
  }

  .pagination-nav__link {
    border: none;
  }

  .dropdown__menu {
    background-color: #20232a;
  }

  .dropdown__link:hover {
    background-color: #1a1c22;
  }

  pre {
    border-color: #2d2f33;
    background-color: #20232a !important;
  }
}

.navbar {
  box-shadow: none;
  border: none;
}

.menu {
  font-size: 95%;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

.theme-doc-sidebar-container {
  border-right: none !important;
}

.table-of-contents__left-border {
  border-left: none;
}

.pagination-nav__link {
  border: none;
}

.menu__link,
.menu__link--active,
.menu__link--sublist {
  border-radius: 0px 12px 12px 0px;
  padding: 12px;
}

.menu__list-item-collapsible,
.menu__list-item-collapsible--active {
  border-radius: 0px 12px 12px 0px;
}

.menu {
  font-size: 95%;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

.theme-doc-sidebar-container {
  border-right: none !important;
}

.table-of-contents__left-border {
  border-left: none;
}

body {
  font-family: system-ui, sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

pre {
  margin-top: 2rem;
  border: 1px solid #ccc;
  background-color: white !important;
  box-shadow: transparent 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}