:root {
    --grid-section-grid-box-bg-light: #fefeff;
    --grid-section-grid-box-bg-dark: #282a36;
    --grid-section-text-color-light: #181818;
    --grid-section-text-color-dark: #ffffff;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gridBox {
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-color: var(--grid-section-grid-box-bg-light);
    color: var(--grid-section-text-color-light);
    border: 1px solid #ccc;
}

.gridBox:hover {
    transform: scale(0.98);
}

[data-theme='dark'] .gridBox {
    background-color: var(--grid-section-grid-box-bg-dark);
    color: var(--grid-section-text-color-dark);
    border: 1px solid #606770;
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}